table {
    border-collapse: collapse;
    width: 200px;
}

th,
td {
    border: 1px solid black;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

thead {
    background-color: red;
    color: white;
}

tfoot {
    background-color: silver;
    color: red;
}